html, body {
	height: 100%;
}

html body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
}

span, div, p,
table tr td {
	font-size: 1em;
}

strong, .bold {
	font-weight: bold;
}

del, .del {
	text-decoration: line-through;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}



h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', sans-serif;
}

h1 {
	font-size: 2em;
	margin: 0 0 0.5em;
}

h2 {
	font-size: 1.75em;
	margin: 1em 0 0.5em;
}

.alpha h1, .alpha h2,
.alpha h3, .alpha h4,
.alpha h5, .alpha h6 {
	margin-top: 0;
}

a, a:visited, a:hover {
	color: #3366BB;
}



#root {
	overflow: hidden;
}



.headers {
	margin: 3em 0;
	text-align: left;
}

.headers h1 a {
	color: inherit;
}

.headers .description {
	color: #D1C2BA;
}

.headers ul.menu {
	float: right;
}

.headers ul.menu li {
	float: left;
	margin-left: 1em;
	line-height: 80px;
}

.headers ul.menu li a {
	font-weight: bold;
	color: #FBB023;
}



.footers {
	margin: 3em 0;
	font-size: 0.9em;
	text-align: left;
}

.footers .misc_links a {
	margin-right: 1em;
}



.body {
	margin: 3em 0;
	text-align: left;
}

.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 1em 0;
}

.content p,
.content ul,
.content ol {
	margin: 10px 0;
}

.content p,
.content li {
	line-height: 1.25;
}

.content ul,
.content ol {
	padding-left: 20px;
}

.content ul li {
	list-style: disc outside;
}

.content ol li {
	list-style: decimal outside;
}

.content a.external {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 13px;
}

.content .introduction p {
	text-align: justify;
}

.content .contact dl.details dt {
	clear: both;
	width: 80px;
}

.content .contact dl.details dt span {
	display: block;
	margin: 10px 0;
}

.content .contact dl.details dt,
.content .contact dl.details dd {
	float: left;
}

.content .experience table {
	width: 100%;
	margin: 1em 0;
	border-collapse: separate;
    border-spacing: 4px;
}

.content .experience table th {
	padding: 0 1em;
	background-color: #eee;
	width: 100px;
}
